@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight:700;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

/* HEADER */


.page-header {
  display: flex;
  color: #000000;
  line-height: 24px;
  margin: 0;
  padding: 0 70px;
}

.main-container {
  flex-grow: 1;
}

.navigation-logo {
  z-index: 1;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px 20px 16px;
}
.button-header{
  width:160px;
  height:36px;
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 34px;
  margin-bottom:14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* HERO */



.hero {
  background-image: url("../images/hero-img/hero-background.jpg");
  background-color: #FFFFFF;
  color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 0 82px 0;
  position: relative;
  margin-top:-10px;
}

.hero::after {
  content: "";
  background-image: url("../images/hero-img/hero-background-element.svg");
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.information-block {
  padding-top: 69px;
  padding-bottom: 69px;
}

/* ADVANTAGES */

.advantages-title {
  margin: 0 auto;
  text-align: center;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
}

.advantages-text {
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

.main-index {
  background-color: #FFFFFF;
  color: #000000;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  height: 385px;
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.with-image {
  display: flex;
  background-color: rgba(130, 179, 211, 1);
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.advantages-item-text {
  width: 230px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 103px 85px 103px 85px;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-img {
  vertical-align: bottom;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}


/* SERVISES */


.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-list li:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}

.service-item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}


.service-block {
  display: block;
  margin-top: 81px;
  width: 230px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-icon {
  margin: 0 auto;
}

.hotel-search {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 406px;
  padding-top: 95px;
}

.search-text-block {
  display: block;
  width: 592px;
  height: 214px;
}

.mail {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mail-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mail-text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.mail-form {
  display: flex;
  justify-content: center;
}

.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  height: 120px;
}

.footer-social {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  padding-top:40px;
}
.footer-social-list{
  display: grid;
  list-style-type: none;
  grid-template-columns:24px 24px 24px;
  grid-template-rows:40px;
  gap:10px;
}
.html-logo {
  width: 114px;
}

.input-email {
  width: 684px;
  height: 52px;
  display: flex;
  justify-content: center;
}
.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  width: 331px;
  text-decoration: none;
  color: #000000;
  white-space:nowrap;
}






/*                          Каталог                                        */


.catalog-navigation {
  background-image: url(../images/catalog-background.jpg);
  background-size: cover;
  color: #FFFFFF;
  list-style-type: none;
  margin-top:-10px;
  padding-top:35px;
  padding-bottom:70px;
  padding-left:70px;
  padding-right:70px;
}

.catalog-navigation-header {
  box-sizing: border-box;
  list-style-type: none;
  padding-bottom: 40px;

}
.main-title{
  margin: 0;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
  padding-left: 0;

}
.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.breadcrumbs-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.filtres {
  display: flex;
  box-sizing: border-box;
 }

.infra-filter{
  border: 0 none;
  box-sizing: border-box;
  padding-left: 0;
}
.house-filter{
  box-sizing: border-box;
  border: 0 none;
  margin-left:70px;
}
.right-filter{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 0 none;
  margin-left:140px;
}
.infrastructure{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-sizing: border-box;
  padding-left: 0;
}
.housetype {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 0;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

}
.price-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top:70px;
  padding-left:70px;
 }
 .control-input-min{
  width:143px;
  height:48px;
  border-radius:4px;
}
 .control-input-max{
  width:143px;
  height:48px;
  border-radius:4px;
}
.sorting {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.vatiation-sorting {
  box-sizing: border-box;
}

.view {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
}

/* HOTELS */


.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  padding-left: 70px;
  padding-right: 70px;
  list-style-type: none;
  gap:20px;
}

.hotel-list-item {
  display: grid;
  box-sizing: border-box;
  grid-template-columns:140px 140px;
  grid-template-rows:212px 28px 21px 36px 37px;
  border: solid 1px;
  border-color: rgba(230, 230, 230, 1);
  padding:20px;
  row-gap:16px;
  column-gap:20px;
}

.hotel-image {
  box-sizing: border-box;
  }
.hotel-cart-link {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:-5;
  box-sizing: border-box;
  text-decoration: none;

}

.hotel-cart-text {
  grid-column-start:1;
  grid-row-start:3;
  grid-column-end:2;
  grid-row-end:4;
}

.hotel-cart-price {
  grid-column-start:2;
  grid-row-start:3;
  grid-column-end:3;
  grid-row-end:4;
  box-sizing: border-box;
  text-align: right;
}

.hotel-button-first {
  box-sizing: border-box;
  grid-column-start:1;
  grid-row-start:4;
  grid-column-end:2;
  grid-row-end:5;
  align-self: center;
  background: rgba(117, 97, 87, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding:8px 20px;
}

.hotel-button-second {
  box-sizing: border-box;
  grid-column-start:2;
  grid-row-start:4;
  grid-column-end:3;
  grid-row-end:5;
  align-self: center;
  background:rgba(130, 179, 211, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  white-space:nowrap;
  padding:8px 14px;
}
.hotel-stars {
  box-sizing: border-box;
  grid-column-start:1;
  grid-row-start:5;
  grid-column-end:2;
  grid-row-end:6;
  align-self: center;

}

.hotel-rating {
  box-sizing: border-box;
  grid-column-start:2;
  grid-row-start:5;
  grid-column-end:3;
  grid-row-end:6;
  align-self: center;
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  text-align: center;
  padding-left:23px;
  padding-top:9px;
  padding-bottom:8px;
  padding-right:24px;
  white-space:nowrap;

}






/* PAGINATION */
.pagination {
  padding-left: 70px;
  padding-right: 70px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link-buttom {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
}

.pagination-list-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-list li:nth-child(5) {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.mail-catalog {
  width: 1200px;
  height: 415px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.mail-title-catalog {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mail-text-catalog {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.infrastructure-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.housetype-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-cart-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-cart-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-cart-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
