@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
.page-container {
  width:1200px;
  margin:0 auto;
  justify-content: space-between;
  background-color: #FFFFFF;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family:"PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color:#F2F2F2;
  color: #000000;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}
.page-header {
  color:#000000;
  line-height: 24px;
  height: 64px;
  margin-bottom: 0;
}
.main-container {
  flex-grow: 1;
}
li {
  list-style-type: none;
}
.navigation {

  display: flex;
  width: 1060px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 339px;
}
.navigation-user {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 268px;
  margin-left:auto;
}
.navigation-logo {

  padding: 0 70px 0 70px;
}
.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  line-height: 24px ;
  color: #000000;
  padding:20px, 16px, 20px, 16px;
  margin-top: 20px;
}

.hero {
 display: flex;
 flex-direction: column;
 background-image:url("../images/hero-img/hero-background.jpg");
 background-color: #FFFFFF;
 color: #000000;
 background-size: cover;
 background-repeat: no-repeat;
}
.logo{
  margin-top: 51px;
  padding-left: 371px;
}
.information-block {
  padding-top:69px;
  padding-bottom:69px;
}
.advantages-title{
  margin:0 auto;
  text-align: center;
  width:620px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}
.advantages-text{
  margin:0 auto;
  text-align: center;
  margin-top: 25px;
}
.main-index{
  background-color: #FFFFFF;
  color: #000000;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.with-image{
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.advantages-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  padding:103px, 85px, 103px, 85px;
}
.advantages-item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #82B3D3;
}
.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.services-list{
  display: flex;
  margin: 0;
  padding: 0;
}
.first-color{
  background-color:rgba(131, 179, 211, 0.12);
}
.second-color{
  background-color: rgba(131, 179, 211, 0.2);
}
.service-item{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
}
.service-block{
  display: block;
  margin-top: 81px;
  width: 230px;
  padding-top:64px;
  padding-bottom: 64px;
}
.service-icon{
  margin: 0 auto;
}
.hotel-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.mail{
  background-image:url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.mail-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.mail-text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  }

.html-logo{
  width: 114px;
}
.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  width: 331px;
  text-decoration: none;
  color: #000000;
}
.main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.breadcrumbs-link{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.breadcrumbs-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.infrastructure-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.housetype-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.button-small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.button-big {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.hotel-cart-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
 }
 .hotel-cart-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
 }
 .hotel-cart-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.hotels {
  background-color: #FFFFFF;
}


/* Каталог */
.catalog-navigation{
  background-image:url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.breadcrumbs{
  display: flex;
  flex-direction: column;
  width: 1060px;
}
.filtres{
  display: flex;
  width: 370px;

}
.ifrastrusture{
  width: 150px;
}
.price{
  display: flex;
  flex-direction: column;
  width: 288px;
}

.sorting{
  display: flex;
  justify-content: space-evenly;
  width: 1060px;

}
.hotel-list{
  display: flex;
  flex-wrap: wrap;
}
.hotel-list-item{
  width: 340px;

}
.pagination-list{
  display: flex;
}
.pagination-link-buttom{

  width: 60;
  height: 60;
  margin-left: 8px;
}
.mail-catalog{
  width: 1200px;
  height: 414.86px;
  color:#000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.mail-title-catalog {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.mail-text-catalog {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
