@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}



body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

/* HEADER */


.page-header {
  display: flex;
  color: #000000;
  line-height: 24px;
  margin: 2px;
  padding: 0 70px;
}

.main-container {
  flex-grow: 1;
}

.navigation-logo {
  z-index: 1;
  position: absolute;
  width: 140px;
  height: 70px;
}

.heder-link {
  width: 140px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  list-style-type: none;

}

.navigation-link-current {
  border-bottom: 2px solid rgba(117, 98, 87, 1);


}

.navigation-user {
  display: flex;
  list-style-type: none;
}



.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px 20px 16px;
}

.navigation-link-user {
  padding-left: 15px;
  padding-right: 15px;
}




.button-header {
  width: 160px;
  height: 36px;
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 34px;
  margin-bottom: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
}

.button-header:hover {
  background: rgba(97, 80, 72, 1);
}

.button-header:active {
  background: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}



.number {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 5px;
  margin-left: -22px;
  margin-top: -10px;
}


/* HERO */



.hero {
  background-image: url("../images/hero-img/hero-background.jpg");
  background-color: #FFFFFF;
  color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 0 82px 0;
  position: relative;
}

.hero::after {
  content: "";
  background-image: url("../images/hero-img/hero-background-element.svg");
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.main-index {
  background-color: #FFFFFF;
  color: #000000;
}

.information-block {
  padding-top: 69px;
  padding-bottom: 49px;
  padding-left:70px;
  padding-right:70px;

}

/* ADVANTAGES */


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}
.advantages-item.with-image {
  display: flex;
  width: 100%;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  min-height: 385px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: calc(100% / 3);
  min-height: 385px;
}
.advantages-list li:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantages-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

}

.advantages-item-text {
  padding:92px 85px 92px 85px;

}
.advantages-line{
  content:"";
  border:1px solid rgba(0, 0, 0, 0.3);
  width:60px;
  margin-left:85px;
  margin-right:85px;
}
.advantages-line-image{
  content:"";
  border:1px solid rgba(255, 255, 255, 0.3);
  width:60px;
  margin-left:85px;
  margin-right:85px;

}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  }

.information-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.information-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  text-align: center;

}




/* SERVISES */


.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.services-list li:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}

.service-item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-block {
  display: block;
  margin-top: 81px;
  width: 230px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.service-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);

}

.service-icon {
  margin: 0 auto;
}


.hotel-search {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 96px;
  padding-top: 95px;
  padding-left:70px;
  padding-right:70px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}

.hotel-search-button {
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  display: table;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;

}

.hotel-search-button:hover {
  background: rgba(97, 80, 72, 1);
}

.hotel-search-button:active {
  background: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-button:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}



.mail {
  background-color: blue;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.mail-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 96px;
}

.mail-text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 54px;
  color: rgba(51, 51, 51, 1);
}


.mail-form{
  display: flex;
  justify-content: center;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
  }
.mail-form ::placeholder{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.mail-input {
  width: 452px;
  border-radius: 4px 0 0 4px;
  border-color: transparent;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(242, 242, 242, 1);
}

.button-mail {
  background-color: rgba(130, 179, 211, 1);
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  color: rgba(255, 255, 255, 1);
  padding: 8px 50px 8px 50px;
}

.button-mail:hover {
  background: rgba(104, 162, 202, 1);
}

.button-mail:active {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-mail:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}
.divider{
  content: "";
  width:1060px;
  margin-left:70px;
  margin-right: 70px;
  margin-bottom:40px;
  margin-top: 40px;
  border: 1px solid rgba(230, 230, 230, 1);

}

.page-footer {
  background-color: #FFFFFF;
  color: #000000;
}

.footer-social {
  display: flex;
  padding-left:40px;
  padding-right: 70px;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-social-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: 24px 24px 24px;
  grid-template-rows: 40px;
  gap: 10px;
}

.html-logo {
  width: 114px;
}

.input-email {
  width: 684px;
  height: 52px;
  display: flex;
  justify-content: center;
}

.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  width: 331px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
}

.contacts-phone :hover {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone :focus {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone :active {
  color: rgba(117, 97, 87, 0.3);
}








/*                          Каталог                                        */


.catalog-navigation {
  background-color: rgb(112, 112, 233);
  background-image: url(../images/catalog-background.jpg);
  background-size: cover;
  color: #FFFFFF;
  list-style-type: none;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-navigation-header {
  box-sizing: border-box;
  list-style-type: none;
  padding-bottom: 40px;

}

.main-title {
  margin: 0;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
  padding-left: 0;
}
.bred-house{
  background-image:url("../images/icons/bred-house.svg");
  background-position:center;
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
}
.breadgrumbs-link-house {
  position: relative;
  display: block;
  padding-right: 10px;
  cursor: pointer;
}

.breadgrumbs-link-house:before {
  content:"";
  width: 23px;
  height: 22px;
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}

.breadcrumbs-item {
  padding-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filtres {
  display: flex;
  justify-content: space-between;
}

.left-form {
  display: flex;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border-color: transparent;
}
.input-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.right-form {
  display: flex;
  justify-content: space-between;
  border: 0 none;
}


.infra-filter {
  border: 0 none;
  padding-left: 0;
}

.infrastructure-label {
  padding-left: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;


}

.house-filter {
  padding-left: 70px;
  border: 0 none;
}

.infrastructure {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;

}

.infrastructure-item {
  padding-bottom: 12px;
  display: flex;
  align-items: center;

}

.radio-text {
  padding-left: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.housetype-label {
  display: flex;
  align-items: center;

}

.housetype {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  white-space: nowrap;
  padding-left: 0;
  padding-top: 14px;
}

.housetype-item {
  padding-bottom: 12px;
}

.form-price {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  border: 0 none;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0 auto;

}

.price-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-left: 70px;

}

.price-button-one {
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  width: 191px;
  height: 36px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-color: transparent;
  text-transform: uppercase;
  margin-bottom:40px;
}

.price-button-one:hover {
  background: rgba(104, 162, 202, 1);
}

.price-button-one:active {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.price-button-one:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}


.price-button-two {
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  width: 191px;
  height: 36px;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-color: transparent;
  text-transform: uppercase;
}

.price-button-two:hover {
  color: rgba(255, 255, 255, 1);
}

.price-button-two:focus {
  background: transparent;
  border: 2px solid rgba(130, 179, 211, 1);
}

.price-button-two:active {
  color: rgba(255, 255, 255, 0.3);
}

.price-button-two:disabled {
  color: rgba(255, 255, 255, 1);
  background: transparent;
}

.minmax-price {
  display: flex;
}

.price-imput-min {
  position: absolute;
  padding-left: 110px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: grey;

}

.price-imput-max {
  position: absolute;
  padding-left: 110px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: grey;
}


.control-input-min {
  width: 143px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  border-color: transparent;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.control-input-max {
  width: 143px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: grey;
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;

}

.toggle-min {
  top: -8px;
  left: -6px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}


.sorting {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.vatiation-sorting {
  border-radius: 4px;
  margin-top: 4px;
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 14px 20px 14px 20px;
  margin-right:135px;
}

.selecting-list {
  display: flex;
}

.view {
  display: flex;
  list-style-type: none;
}

.icon {
  width: 48px;
  height: 48px;
  padding: 12px 14px 12px 14px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.view-item:not(:last-child) {
  margin-right: 10px;
}

.icon-current {
  border: 2px solid black;
}

/* HOTELS */


.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;

  padding-left: 70px;
  padding-right: 70px;
  list-style-type: none;
  gap: 20px;
}

.hotel-list-item {
  border: solid 1px;
  border-color: rgba(230, 230, 230, 1);
  padding: 20px;
}
.card-description {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;

}

.hotel-image {
  padding-bottom: 16px;
}

.hotel-cart-link {
  grid-column-start: 1;
  grid-column-end: 3;
  text-decoration: none;
  color: black;
}

.hotel-cart-text {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel-cart-price {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel-button-first {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  background: rgba(117, 97, 87, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 26px;
}

.hotel-button-first:hover {
  background: rgba(97, 80, 72, 1);
}

.hotel-button-first:active {
  background: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button-first:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}


.hotel-button-second {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  background: rgba(130, 179, 211, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 8px 20px;
}

.hotel-button-second:hover {
  background: rgba(104, 162, 202, 1);
}

.hotel-button-second:active {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button-second:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}

.hotel-button-active {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  background: rgba(125, 181, 79, 1);
  border-radius: 3px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 8px 20px;
}

.hotel-button-active:hover {
  background: rgba(108, 158, 66, 1);
}

.hotel-button-active:active {
  background: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button-active:disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}


.hotel-stars {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  margin:0;
  padding-top:10px;
}
.star{
  background-image: url("../images/icons/star.svg");
  background-position:center;
  width: 18px;
  height:17px;
}


.hotel-rating {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-color: transparent;
  width: 140px;
  height: 37px;
  padding-top: 9px;

}






/* PAGINATION */
.pagination {
  padding-left: 70px;
  padding-right: 70px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link-buttom {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
  border-radius: 4px;
}

.pagination-a {
  padding-left: 29px;
  font-size: 22px;
  padding-right: 29px;
  margin-top: 20px;
  line-height: 26px;
  font-weight: 400;
}

.pagination-link-buttom :hover {
  background: rgba(104, 162, 202, 1);
}

.pagination-link-buttom :active {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-buttom :disabled {
  color: rgba(255, 255, 255, 1);
  background: rgba(229, 229, 229, 1);
}

.pagination-list-item:not(:last-child) {
  margin-right: 8px;
}

.pag-active {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}

.mail-catalog {
  width: 1200px;
  height: 415px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.mail-title-catalog {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mail-text-catalog {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.infrastructure-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.housetype-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}



.button-small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-title {
  text-align: left;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right:200px;
}

.hotel-cart-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-cart-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-cart-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 396;
  right: 282;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-search {
  width: 717px;
  border-radius: 30px;
  padding-left: 70px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  left: 613px;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 64px;
}


.modal-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;

}

.modal-list label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal-input-date {
  width: 440px;
  height: 48px;
  border-radius: 4px;
  padding: 12px 40px 12px 40px;
  border-color: transparent;
  background-color: rgba(242, 242, 242, 1);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.date-start {
  padding-right: 24px;
}

.date-end {
  padding-right: 18px;
}

.modal-input-number {
  width: 31px;
  height: 48px;
  border-color: transparent;
  background-color: rgba(242, 242, 242, 1);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.parent-label {
  padding-right: 29px;

}

.children-label {
  padding-left: 108px;
  padding-right: 10px;
}

.modal-button {
  width: 577px;
  height: 60px;
  padding: 18px 77px 18px 77px;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 10px;
  border-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
}

.modal-list input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus {
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  background-position: center;
  width: 40px;
  height: 48px;
  background-color: rgba(242, 242, 242, 1);
  padding-left: 0;
  border-radius: 4px;

}

.minus {
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  background-position: center;
  width: 40px;
  height: 48px;
  background-color: rgba(242, 242, 242, 1);
  padding-left: 0;
  border-radius: 4px;
}

.window {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.tooltip {
  background-color: rgba(131, 179, 211, 1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  padding-top: 2px;
  margin-right: 26px;
}

.info {
  display: none;
}

.tooltip:hover .info {
  display: inline-block;
  position: absolute;
  width: 256px;
  text-align: left;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  padding: 18px;
  margin-top: 10px;
  margin-left: -120px;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.tooltip:hover .triangle {
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(51, 51, 51, 1);
  margin-top: 5px;
  margin-left: 2px;
}

.date-error1 {
  display: inline-block;
  color: rgba(255, 87, 87, 1);
  padding-left: 162px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 23px;
}

.date-error2 {
  display: inline-block;
  padding-left: 162px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 23px;
}

.modal-container-close {
  display: none;
}

/* CHEKBOX */

.infrastructure-item {
  position: relative;
  padding-left: 26px;
}

.infrastructure-item input[type=checkbox] {
  display: none;
}

.infrastructure-item label:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.infrastructure-item input[type=checkbox]:checked + label::before {
  position: absolute;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url("../images/icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.infrastructure-item input[type=checkbox]:not(:checked)+label:hover::before {
  background-color: rgba(255, 255, 255, 1);
  opacity: 10%;
}
.infrastructure-item input[type=checkbox]:not(:checked)+label:focus::before {
  background-color: rgba(255, 255, 255, 1);
}

.infrastructure-item input[type=checkbox]:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border: 2px solid #80bdff;
}

.infrastructure-item input[type=checkbox]:focus+label::before {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid #80bdff;
}
.infrastructure-item input[type=checkbox]:focus:not(:checked)+label::before {
  border: 2px solid #80bdff;

}
.infrastructure-item input[type=checkbox]:disabled+label::before {
  background-color: #e9ecef;
}
/* radio */

.custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px;

}

.custom-radio::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(63, 94, 114, 1);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);

}

.input-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.input-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.custom-radio:hover{
  background-color: rgba(255, 255, 255, 1);
  opacity: 10%;
}
.custom-radio:focus {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid #80bdff;
}

.custom-radio:active {
  background-color: #b3d7ff;
  border: 2px solid #80bdff;
}

.custom-radio:focus+label{
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid #80bdff;
}
.custom-radio:disabled {
  background-color: #e9ecef;
}
.modal-span{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-right:24px;
}
